{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block page %}Profile{% endblock %}

{% block body %}

    <div class="row">
        <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                    <button class="nav-link" id="v-pills-history-tab" data-bs-toggle="pill" data-bs-target="#v-pills-history" type="button" role="tab" aria-controls="v-pills-history" aria-selected="false">Order history</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                    <li class="nav-link"><a href="{{ path('app_logout') }}" class="nav-link ">Logout</a></li>
                </div>
            <main class="col-md-auto ms-sm-auto col-lg-10 px-md-4 border-bottom">
            <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col-auto border-end">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="habebe" height="300" width="300" >
                                </div>
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="mb-0">Name: {{ app.user.name }}</h3>
                                    <div class="mb-1 text-muted">Email: {{ app.user.email }}</div>
                                    <p class="card-text mb-auto">IsVerified: {{ app.user.isverified ? 'yes' : 'not' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
{#                        @TODO remove order history#}
{#                        {%  include('cart/_cart.html.twig') %}#}
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>

            </div>
            </main>
        </div>
    </div>
{% endblock %}
