{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block page %}Order{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ include('order/_order_history.html.twig') }}
</div>
{% endblock %}
